/**
#-----------------------------------------------------------------
# This file is a part of RDV project.
# Copyright:    (C) 2022 Pascal Peter
# Licence:      GNU General Public Licence version 3
# Website:      http://pascal.peter.free.fr/
# Email:        pascal.peter at free.fr
#-----------------------------------------------------------------
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#-----------------------------------------------------------------
**/


/* Mise en page globale
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 4.5rem;
}
#content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 2;
}



/* Spécifique aux différentes pages
-------------------------------------------------- */
.container-index {
    max-width: 330px;
}


.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
a.disabled {
    pointer-events: none;
    cursor: default;
    /*filter: invert(50%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);*/
    filter: invert(69%) sepia(97%) saturate(667%) hue-rotate(1deg) brightness(104%) contrast(102%);
}


.wrapper {
    /* aaa */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    display: flex;
    width: 140px;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #eee;
    border-radius: 4px;
}
.thumbnail:hover{
    background-color: #ddd;
    cursor: pointer;
}
.thumbnail a{
    text-decoration: none;
}



.scroll-zone {
    overflow: scroll;
}

.combobox {
    width: 1000px;
}






.bg-content {
    /*background-color: #ededed;*/
    background-color: #f5f5f5;
}












/* Bouton Top
-------------------------------------------------- */
#go-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #9E9FA2;
    font-size: 1.2em;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transform: scale(0.5);
    transition: all 250ms ease-in-out;
}
#go-top:hover {
    transform: scale(1.2);
    background-color: #bbb;
}
#go-top.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}





/* Pied de page
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}





/* Version imprimable
-------------------------------------------------- */
@media print {
    @page {
        size: A4 portrait;
        margin: 10mm;
    }
    body {
        padding-top: 0px;
    }
    .bg-secondary {
        background-color: transparent !important;
    }
    #content {
        padding-top: 0px;
        line-height: 1.8;
        max-width: 1000px;
    }
    .bg-content {
        background-color: transparent;
    }
    #go-top.active {
        visibility: hidden;
    }
}

